.idea/
Practicals/02/data_show.csv
Practicals/02/python_into_teacher_version.ipynb
Practicals/02/python_intro_teacher_version.ipynb
Practicals/Data/
Practicals/04_decision_trees/category_encoding.py
Practicals/05_neural_networks/face_recognition/face1.jpg
Practicals/05_neural_networks/face_recognition/face2.jpg
Practicals/05_neural_networks/face_recognition/face3.jpg
Practicals/05_neural_networks/face_recognition/face4.jpg
Practicals/05_neural_networks/face_recognition/face5.jpg
Practicals/05_neural_networks/face_recognition/face6.JPG
Practicals/05_neural_networks/face_recognition/faces1.jpg
Practicals/05_neural_networks/face_recognition/faces2.jpg
Practicals/05_neural_networks/face_recognition/faces3.jpg
Practicals/05_neural_networks/face_recognition/faces4.JPG
Practicals/03_ml_basics/woe_functions.py
Practicals/04_decision_trees/marginal_dependence.py
*/.ipynb_checkpoints/*
*__pycache__*
