.idea/
.venv/*
Practicals/Data/*
!Practicals/Data/placeholder.txt
!Practicals/Data/data_devsample_columns_description.csv
*.ipynb_checkpoints*
*__pycache__*
Practicals/05_neural_networks/run_with_loss.py
Practicals/05_neural_networks/logs/
Practicals/05_neural_networks/czech_pdt.zip
Practicals/05_neural_networks/face_recognition/facenet_model/
Practicals/06_hyperparameter_optimization/logs/
